*,*:before,*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


html,
body {
	margin:0;
	padding:0;
}

body {
	color: #aaa;
	background-color: #333;
	font-family: sans-serif;
}

.wrapper {
	width: 990px;
	margin: 70px auto;
	position: relative;
}

.wrapper:after {
	content:"";
	display: block;
	clear:both;
	height: 0;
}

#playground {
	float: left;
	height: 290px;
	width: 410px;
	background:yellow;
}

.controls-container {
	float: left;
	margin-left: 40px;
	width: 300px;
}

canvas:focus {
	outline:none;
}